<header class="navbar navbar-expand-lg navbar-light bg-light bg-gradient border-bottom" role="banner">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      {{ site.data.bio.basics.name | default: site.title | escape }}
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteNav"
            aria-controls="siteNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <nav id="siteNav" class="collapse navbar-collapse" aria-label="Primary">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ '/#projects' | relative_url }}">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/#essays' | relative_url }}">Essays</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/resume.html' | relative_url }}">Resume</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
